@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    list-style: none;
    
}
.choise,.input,.output, .text, .info{
    width: calc(100% / 3 - 13px);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
}
.text{
    flex-grow: 3;
}
.info{
    flex-grow: 1;
}
.choise{
    border-right: 2px solid #b7b7b7;
}
.input,.input-text{
    align-items: center;
    
}
.output,.output-info{
    border-left: 2px solid #b7b7b7;
    align-items: center;
}
.ot{
    border-bottom: 2px solid;
}
p{
    text-align: center;
}

input[type="number"]{
    background-color: #dadedd47;
    border: 1px solid #c1c1c1;
    width: 60%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

textarea[name="text-form"]{
    resize: none;
    background-color: #dadedd47;
    border: 1px solid #c1c1c1;
    font-size: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px;
}
textarea[name="text-form"]:focus, input[type="number"]:focus{
    outline: 1px;
    border: 1px solid #767676;
}





