@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    list-style: none;
    
}
.choise,.input,.output{
    width: calc(100% / 3 - 13px);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
}
.choise{
    border-right: 2px solid #b7b7b7;
}
.input{
    align-items: center;
    
}
.output{
    border-left: 2px solid #b7b7b7;
    align-items: center;
}
.ot{
    border-bottom: 2px solid;
}
p{
    text-align: center;
}

input[type="number"]{
    border: 2px solid #FF844B;
    width: 60%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.button-answer{
    background-color: #f0f8ff00;
    font-weight: 700;
    font-size: 20px;
    color: #FF844B;
    border: 2px solid #FF844B;
    border-radius: 10px;
    padding: 5px 50px 5px 50px;
}
.button-answer:hover{
    color: #e87945;
    background-color: #ff844b78;
}
.button-answer:active{
    background-color: #ff844bbc;
}
.orange{
    color: #e87945;
}

.output{
    word-break: break-all;
}


